/attendance_data_2021244150.csv
/ChromeSetup.exe
/desktop.ini
/ESTA-Status-Summary.html
/ExamApp_r03
/Git-2.45.2-64-bit.exe
/image0 (1).jpeg
/LineInst.exe
/OfficeSetup.exe
/python-3.12.2-amd64.exe
/SlackSetup.exe
/SPSS+Amos+28インストールおよびライセンス認証ガイド.pdf
/SPSS+Statistics+28インストールおよびライセンス認証ガイドwith+Mac (1).pdf
/SPSSA_29.0_MW_ML.exe
/SPSS_Amos_28.00.00_Win_ML.exe
/SPSS_StsC_64-bit_28.0.1.1_Win_ML.exe
/SurfaceLaptopGo_BMR_81_4.103.0.zip
/tf16400962_win32.xltx
/Trend Micro_HE_Download_64bit.exe
/TrendMicro_17.0_HE_Downloader.exe
/VSCodeUserSetup-x64-1.90.0 (1).exe
/VSCodeUserSetup-x64-1.90.0.exe
/Webex.msi
/~$第12回課題シート.xlsx
/~WRL0003.tmp
/学籍番号　１B10210065　杉野.docx
/杉野　太星.pptx
/第４回.docx
/課題 (1).docx
/課題(４).docx